<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= content_tag :span, f.object.errors.full_messages_for(:email).join(', '), class: 'error' if f.object.errors[:email].any? %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <%= content_tag :span, f.object.errors.full_messages_for(:password).join(', '), class: 'error' if f.object.errors[:password].any? %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <%= content_tag :span, f.object.errors.full_messages_for(:password_confirmation).join(', '), class: 'error' if f.object.errors[:password_confirmation].any? %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= content_tag :span, f.object.errors.full_messages_for(:name).join(', '), class: 'error' if f.object.errors[:name].any? %>
  </div>

  <div class="field">
    <%= f.label :national_id %><br />
    <%= f.text_field :national_id %>
    <%= content_tag :span, f.object.errors.full_messages_for(:national_id).join(', '), class: 'error' if f.object.errors[:national_id].any? %>
  </div>

  <div class="field">
    <%= f.label :profile_image %><br />
    <%= f.file_field :profile_image%>
    <%= content_tag :span, f.object.errors.full_messages_for(:profile_image).join(', '), class: 'error' if f.object.errors[:profile_image].any? %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
